<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		
		<property name="show_sql">true</property>

		<mapping class="entity.Korisnik"/>
		<mapping class="entity.Proizvodjac"/>
		<mapping class="entity.Mesto"/>
	</session-factory>
</hibernate-configuration>